.custom-select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: transparent !important;
    border-radius: 6px !important;
    padding-right: 2.5rem !important;
}

.custom-select::-ms-expand {
    display: none !important;
}

select.custom-select:focus {
    outline: none !important;
    box-shadow: none !important;
    background-image: none !important;
}

select.custom-select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 white !important;
}